<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<!--IDM 拉取接口jwt验证-->
		<add key="IdmBaseUrl" value="http://10.141.42.223/esc-idm/api/v1" />
		
		<!--OA数据同步 IAM key和secret-->
		<add key="Issuer" value="IssueValue" />
		<add key="AppSecret" value="SecretValue" />
		<add key="Audience" value="AudienceValue" />
		<!--过期分钟数，默认1分钟，配置值按分钟累加-->
		<add key="ExpiredMinutes" value="60" />
		<add key="TestConnectionUrl" value="http://localhost:8080/api/test-connection?access_token={0}" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>